<section id="loginPage" class="h-screen bg-gray-800 flex justify-center">
  <div class="loginBody flex flex-col">
    <h3 class="text-4xl mt-3 mb-2">Login</h3>
    <div class="loginContent">
      <p class="incorrectNamePass notVisible">
        Username or password is incorrect
      </p>
      <!--Needs to only shown on incorrect authentication - notVisible used to hidden when not needed -->
      <form methods="POST" [formGroup]="userLoginForm" (ngSubmit)="onSubmit()">
        <label>Email</label>
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          required
        />
        <label>Password</label>
        <input
          type="password"
          name="password"
          id="password"
          formControlName="password"
          required
        />
        <input
          class="submitBtn"
          type="submit"
        /><!---May need changing - needs functionality-->
      </form>
      <a class="toRegLink" href="/register">Don't have an account?</a>
    </div>
  </div>
</section>
