<section id="loginPage" class="h-screen bg-gray-800 flex justify-center">
  <div class="loginBody flex flex-col">
    <h3 class="text-4xl mt-3 mb-2">Login</h3>
    <div class="loginContent">
      <form methods="POST" [formGroup]="userLoginForm" (ngSubmit)="onSubmit()">
        <label>Email</label>
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          required
        />
        <label>Password</label>
        <input
          type="password"
          name="password"
          id="password"
          formControlName="password"
          required
        />
        <input
          class="submitBtn"
          type="submit"
        /><!---May need changing - needs functionality-->
      </form>
    </div>
  </div>
</section>
