<section id="header" class="h-16 bg-[#1e2124] flex flex-row gap-5">
  <div class="flex flex-row gap-5">
    <div>
      <h4 class="text-white font-bold">IMG</h4>
    </div>
    <div>
      <h4 class="text-white font-bold">RealChat</h4>
    </div>
  </div>
  <nav class="text-white font-lg flex gap-5">
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Home</a
    >
    <a
      routerLink="/profile"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Profile</a
    >
    <button class="hover:cursor-pointer" (click)="isAuth()">Check Auth</button>
  </nav>
  <div class="float-right">
    <button class="p-1 bg-red-500 rounded hover:cursor-pointer text-white" (click)="logout()">Logout</button>


  </div>
</section>
