


<section class="h-16 bg-gray-800">
    <div class="flex flex-row gap-5">
        <div>
            <h4 class="text-white font-bold">IMG</h4>
        </div>
        <div>
            <h4 class="text-white font-bold">RealChat</h4>
        </div>



    </div>
    <nav class="text-white font-lg">
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        <a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a>
  
      </nav>
</section>
