

.friendItem {
    background-color: #2E3136;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    overflow-x: hidden; //prevent x-axis scrolling
    overflow-wrap: anywhere;//lets names be broken to wrap


    &:hover {
        background-color: #3a3d43;
    }
}

.friendItem img {
    height: 50px;
    width: 50px;
    border-radius: 50%; //circle shape
    margin-right: 10px;
}

.messageItem {
    padding: 10px;
}

.messageItem img {
    height: 25px;
    width: 25px;
    border-radius: 50%; //circle shape
    margin-right: 10px;
}