

<section class="border-r h-full">
    <div class="">
        <!-- main taskbar -->
        <div>
            <!-- search bar -->
            <!--  -->
            <div class="p-4">
                <div class="flex gap-3 border-b pb-4">
                    <input class="border rounded bg-blue-900" type="search"/>
                    <input class="p-1 rounded text-white bg-blue-400" type="submit"/>
                </div>
                <!-- display response of friend request that was sent. Either "invalid" or "request sent" -->
                <div>

                </div>
            </div>
            

            <!-- task bar of some buttons ? -->
            <div class="flex gap-3 justify-between px-4 pb-4 border-b">
                <div class="rounded border bg-blue-500">Button</div>
                <button class="rounded border bg-blue-500 p-1 hover:cursor-pointer" (click)="toggleFriendRequests()">FrReq</button>
            </div>

            <!-- GET friends here to a list -->
            <div>
                <div class="w-full text-center">
                    <h2 class="text-2xl">Friends</h2>
                </div>

            </div>

        </div>



    </div>
</section>
