
#registerPage {
    color: white;

    .regBody {
        display: flex;
        flex-direction: column;

        
    }

    form {
        padding: 10px 5px;
        width: 18rem;
        background-color: #979797;
        border-radius: 14px;
        border: 2px solid rgb(94, 94, 94);
    }

    form * {
        margin-left: 0.5rem;
    }

    div > form input, div > form select {
        background-color: white;
        color: black;
        border-radius: 2px;
        box-sizing: border-box;
        width: 15rem;
        display: block;
    }
    
    div > form select{
        width: 5rem;
    }
    
    div > form .ageInput {
        width: 3rem;
    }

    div > form > input.submitBtn { //temp - will change
        box-sizing: border-box;
        background-color:  rgb(109 193 221 / 87%);
        box-shadow: 0 0 5px rgb(104, 240, 255); 
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: rgb(31, 233, 255);
        margin-top: 1.2rem;
        margin-left: 1rem;
        padding: 1px 6px;
        border: 1px solid rgb(116, 246, 255);
        border-radius: 4px;
        transition: background-color 0.2s, box-shadow 0.2s;
    }
    
    div > form > input.submitBtn:active {
        border: 1px solid rgb(184, 250, 255);
        background:  rgba(11, 210, 245, 0.868);
        box-shadow: 0 0 8px rgb(104, 240, 255); 
    }

    
}